.form {
  background: linear-gradient(
    to bottom,
    rgb(var(--background-form-start)),
    rgb(var(--background-form-end))
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 800px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.form form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  height: 600px;
  flex-wrap: wrap;
  margin-left: 20px;
}

.form label {
  display: flex;
  margin-bottom: 8px;
  color: rgb(30, 81, 103);
}

.form input[type="text"] {
  width: 350px;
  height: 25px;
  margin-bottom: 12px;
  border-radius: 4px;
  border: 1px solid rgb(30, 81, 103);
  padding: 10px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
  background: linear-gradient(
    to bottom,
    rgb(var(--background-form-start)),
    rgb(var(--background-form-end))
  );
}

.inputError {
  width: 350px;
  height: 25px;
  margin-bottom: 12px;
  border-radius: 4px;
  border: 1px solid rgb(221, 28, 14);
  padding: 10px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
  background: linear-gradient(
    to bottom,
    rgb(var(--background-form-start)),
    rgb(var(--background-form-end))
  );
}

.form select {
  width: 350px;
  height: 25px;
  margin-bottom: 12px;
  border-radius: 4px;
  border: 1px solid rgb(30, 81, 103);
  padding-left: 10px;
  background: linear-gradient(
    to bottom,
    rgb(var(--background-form-start)),
    rgb(var(--background-form-end))
  );
}

/* Estilos para el botón */
.form button {
  display: flex;
  align-self: flex-end;
  color: white;
  font-weight: bold;
  padding-inline: 15px;
  padding-block: 7px;
  background: rgb(0, 179, 255);
  border-radius: 10px;
  max-height: 30px;
  border: none;
}

.form-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  max-width: 95%;
}

.form-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form-header {
  position: inherit;
  align-self: flex-start;
  justify-self: self-start;
  color: rgb(30, 81, 103);
  font-weight: bold;
  padding-top: 15px;
  padding-left: 30px;
}

.form-buttons {
  height: 100%;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
}

.input-labels{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
}
.input-labels-error {
  color: red;
  font-weight: bold;
}

.form-finish{display: flex;
  align-items: center;
  color: rgb(30, 81, 103);  
  height: 600px;
}

@media (max-width: 1000px) {
  .form-fields {
    flex-direction: column;
  }

  .input-labels {
    justify-content: center;
    gap: 30px;
  }
}

@media (max-width: 600px){
  .form input[type="text"] {
    width: 80%;
  }
  .form select{
    width: 80%;
  }

  .input-labels {
    flex-direction: column;
    gap: 5px
  }

  .form label{
    display: block;
  }
}
